fastapi
uvicorn
redis
requests
openai
tiktoken
langchain
langchain-postgres
langchain_openai
python-dotenv
postgres
psycopg2-binary
psycopg[binary]==3.1.*
pgvector
nemoguardrails[openai]==0.8.2
sentence_transformers
langfuse==2.60.1
tabulate
nltk==3.8.1